<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Roku Remote WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Roku Remote.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD5F6D2F1AAAA0B7006324DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD5F6D3A1AAAA0B7006324DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDC2C2F91AAA8AF900D1E1DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDC2C3121AAA8AF900D1E1DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
